span {
    font-size: 16px;
    color: black;
}

#wrapper {
    width: 200px;
}

#header-wrapper {
    display: flex;
    justify-content: center;

}

#colors-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

button {
    height: 30px;
    width: 30px;
    margin: 0 5px;
    cursor: pointer;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}