span {
    font-size: 16px;
    text-decoration: underline;
    color: black;
}

#wrapper {
    width: 200px;
}

#header-wrapper, #footer-wrapper {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

#colors-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.colors-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

button {
    height: 30px;
    width: 30px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
}

button:hover {
    border: 1px solid black;
    filter: brightness(1.2);
}

#reset {
    cursor: pointer;
    border: 1px solid black;
    font-size: 13px;
    border-radius: 5px;
    color: black;
    padding: 3px;
    background-color: #EAEAEA;
}

#reset:hover {
    background-color: #ABABAB;
}

#color-0 {
    background-color: #91C4C3;
}

#color-1 {
    background-color: #A9D59C;
}

#color-2 {
    background-color: #F1D796;
}

#color-3 {
    background-color: #ED9E9F;
}

#color-4 {
    background-color: #B1B2FF;
}

#color-5 {
    background-color: #4E944F;
}

#color-6 {
    background-color: #ffdc34;
}

#color-7 {
    background-color: #A084CA;
}

#color-8 {
    background-color: #71a5de;
}

#color-9 {
    background-color: #3acbc7;
}

#color-10 {
    background-color: #F76E11;
}

#color-11 {
    background-color: #A2654D;
}

#color-12 {
    background-color: #CDF0EA;
}

#color-13 {
    background-color: #DA5B48;
}

#color-14 {
    background-color: #5C695F;
}

#color-15 {
    background-color: #083431;
}

#color-16 {
    background-color: #453D3A;
}

#color-17 {
    background-color: #887A88;
}

#color-18 {
    background-color: #A1A1AC;
}

#color-19 {
    background-color: #ABABAB;
}
